.contact {
  width: 100%;
  max-width: $maxWidth-lg;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 2rem;
  padding: $spacing10 * 2 0;

  p {
    margin: 0;
    margin-bottom: $spacing6;
  }

  a {
    color: $primary;
    text-decoration: none;

    &:hover {
      color: lighten($color: $primary, $amount: 30);
    }
  }
}

.social {
  display: flex;
  justify-content: center;
  align-items: center;

  &__icon + &__icon {
    margin-left: $spacing4;
  }

  &__icon {
    a {
      background-color: $primary;
      padding: $spacing3;
      display: flex;
      justify-content: center;
      align-items: center;
      color: white;
      transition: 0.25s ease;

      &:hover {
        background-color: white;
        color: $primary;
      }
    }
  }
}
