.projects {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
  margin: $spacing8 0;
}

.project {
  padding: 1.5rem;
  border: 1px solid $secondary;

  &__name {
    font-family: $font-heading;
    margin: 0;
  }

  &__description {
    margin: 0.5rem 0;
  }

  &__tags {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: $spacing4;
  }

  &__tag {
    padding: 0.25rem;
    border-radius: 0.25rem;
    font-size: 10px;
    font-weight: 600;
    background-color: $success;
    color: white;
    margin-bottom: 0.5rem;
  }

  &__tag + &__tag {
    margin-left: 0.25rem;
  }

  &__github,
  &__site {
    padding: 0.25rem;
    margin-right: $spacing2;
    color: $primary;
  }
}
