@media (max-width: $maxWidth-lg + 2.5rem) {
  main,
  header {
    max-width: $maxWidth-md !important;
  }
}

@media (max-width: $maxWidth-md + 2.5rem) {
  main,
  header {
    max-width: $maxWidth-sm !important;
    padding: 0 $spacing4;
  }

  .home {
    flex-direction: column;
    align-items: center;
    justify-content: center;

    & * {
      margin: 0;
    }

    &__left,
    &__right {
      width: 100%;
      margin: $spacing4;
      height: fit-content;
      text-align: center;

      & h1 {
        font-size: 3rem;
        margin-bottom: $spacing4;
      }
    }
  }

  .projects {
    grid-template-columns: 1fr;
    margin: $spacing8 $spacing4;
  }

  .contact {
    font-size: 1rem;
  }
}

@media (max-width: $maxWidth-sm + 2.5rem) {
  main,
  header {
    max-width: 26rem !important;
    margin: auto;
    padding: 0 !important;
  }

  header {
    width: 90% !important;
    flex-direction: column;
    transition: all 0.5s ease;
    flex-shrink: 0;

    ul {
      padding: 0 !important;
      margin: 0 !important;
    }
  }

  .header {
    &__left {
      width: 100%;

      .nav__toggler {
        display: block !important;
      }
      .theme__toggler {
        display: block !important;
      }
    }

    &__right {
      width: 100%;
      height: 0;
      overflow: hidden;

      .theme__toggler {
        display: none !important;
      }
    }
  }

  main {
    width: 90% !important;
    margin: auto !important;
  }
}
