// Spacing
$spacing1: 0.25rem;
$spacing2: 0.5rem;
$spacing3: 0.75rem;
$spacing4: 1rem;
$spacing5: 1.5rem;
$spacing6: 2rem;
$spacing7: 3rem;
$spacing8: 4rem;
$spacing9: 5rem;
$spacing10: 6rem;

// Max Widths
$maxWidth-lg: 80rem;
$maxWidth-md: 60rem;
$maxWidth-sm: 38rem;

// Fonts
$font-heading: "Righteous", cursive;
$font-text: "Montserrat", sans-serif;

// Light Theme Colors
$red: #d73a49;
$green: #29a847;
$blue: #0366d6;
$yellow: #ffd33d;
$pink: #ea4aaa;
$purple: #6f42c1;
$oragne: #f66a0a;
$gray: #6a737d;
$dark: #24292e;

$primary: $purple;
$text: $dark;

// Dark Theme Colors
$red-dark: #da3633;
$blue-dark: #1f6feb;
$green-dark: #238636;
$yellow-dark: #9e6a03;
$pink-dark: #bf4b8a;
$purple-dark: #8957e5;
$oragne-dark: #bd561d;
$gray-dark: #484f58;
$dark-dark: #c9d1d9;
