// Spacing
$spacing1: 0.25rem;
$spacing2: 0.5rem;
$spacing3: 0.75rem;
$spacing4: 1rem;
$spacing5: 1.5rem;
$spacing6: 2rem;
$spacing7: 3rem;
$spacing8: 4rem;
$spacing9: 5rem;
$spacing10: 6rem;

// Max Widths
$maxWidth-lg: 80rem;
$maxWidth-md: 60rem;
$maxWidth-sm: 38rem;

// Fonts
$font-heading: "Righteous", cursive;
$font-text: "Montserrat", sans-serif;

$primary: var(--purple);
$secondary: var(--blue);
$success: var(--green);
$dark: var(--dark);
$light: var(--gray);
$background: var(--background);
$text: var(--dark);
$link-hover: RGBA(var(--purple), 0.8);
