.blog {
  height: 100%;
  margin-bottom: auto;

  & > h1 {
    margin-top: 0;
  }
}

.post {
  max-width: $width-md;
  width: 90%;
  margin-bottom: $spacing-xl;

  a {
    text-decoration: underline;

    &:hover {
      background-color: var(--hover-bg);
    }
  }

  p {
    line-height: 1.75;
  }

  &__list {
    padding: 0 $spacing-lg;
    width: calc(100% - 2 * $spacing-lg);
  }

  &__link {
    display: block;
    padding: $spacing-md $spacing-lg;
    border: 1px solid var(--border-color);
    border-radius: $b-radius-md;
    transition: 0.1s ease;
    margin-bottom: $spacing-md;

    &:hover,
    &:active {
      outline: 4px solid var(--border-color);
    }
    h4 {
      margin: 0;
      margin-bottom: $spacing-sm;
      font-size: 1.25rem;
      line-height: 1.5;
    }
    p {
      margin: 0;
    }
  }

  code {
    background-color: var(--hover-bg);
    padding: 0.2rem 0.4rem;
    border-radius: 0.25rem;
    color: var(--text);
  }

  blockquote {
    color: var(--text);
    border-left: 4px solid var(--red);
    background-color: var(--border-color);
    padding: $spacing-md;
    margin: 0;

    p {
      margin: 0;
    }
  }

  @media (max-width: ($width-lg + 2rem)) {
    &__list {
      padding: 0;
      width: 100%;
    }

    &__link {
      width: 100%;
      padding: 0;
      border: 0;
      margin: $spacing-lg 0;

      &:hover,
      &:active {
        outline: none;
      }
    }
  }
}
