.contact {
  width: 85%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 5rem;

  h1 {
    font-size: 6rem;
  }

  &__grid {
    width: 100%;
    display: flex;

    &__item {
      flex: 1;
      padding: $spacing-lg;
      border: 1px solid var(--border-color);
      border-right: none;

      h3 {
        margin-top: 0;
      }

      &:last-child {
        border-right: 1px solid var(--border-color);
      }
    }
  }

  @media (max-width: ($width-lg + 2rem)) {
    h1 {
      font-size: 4rem;
    }

    &__grid {
      flex-direction: column;

      &__item {
        border: 1px solid var(--border-color);
        border-bottom: none;

        h3 {
          margin-top: 0;
        }

        &:last-child {
          border-bottom: 1px solid var(--border-color);
        }
      }
    }
  }
}
