.projects {
  margin-bottom: $spacing-xl * 2;

  & > h1 {
    margin-bottom: 3rem;
    margin-top: -1rem;
  }

  &__grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: $spacing-xl;

    @media (max-width: ($width-lg + 2rem)) {
      grid-template-columns: 1fr;
    }
  }
}

.project {
  min-height: $spacing-xl * 5;
  display: flex;
  flex-direction: column;
  border-radius: $b-radius-lg;
  border: 1px solid var(--border-color);
  padding: $spacing-lg;
  cursor: pointer;

  @media (max-width: ($width-lg + 2rem)) {
    min-height: $spacing-xl * 4;
  }

  h2 {
    margin: 0;
    margin-bottom: $spacing-sm;
  }
  p {
    margin: 0;
    margin-bottom: $spacing-lg;
  }

  &__tags {
    margin-top: $spacing-sm;
    display: flex;
    gap: $spacing-sm;
    flex-wrap: wrap;
  }

  &__tag {
    padding: $padding-btn;
    border-radius: $b-radius-sm;
    background-color: var(--hover-bg);
    color: var(--text);
    font-size: $font-sm;
  }

  &__link {
    margin-top: auto;
    width: fit-content;
    padding: $padding-btn;
    border-radius: $b-radius-sm;
    background-color: rgba(var(--primary-rgb), 0.1);
    color: var(--primary);
    cursor: pointer;
    font-weight: 500;

    &:hover {
      background-color: rgba(var(--primary-rgb), 0.2);
    }
  }
}
