@tailwind base;
@tailwind components;
@tailwind utilities;

.bg-gradient {
	@apply bg-gradient-to-tr from-zinc-200 via-zinc-100 to-zinc-200 dark:from-zinc-900 dark:via-zinc-800 dark:to-zinc-900;
}

.bg-grid-item {
	@apply rounded-lg text-black dark:text-white bg-gradient;
}

.grid-box {
	@apply p-6 bg-grid-item;
}

.animate-button-text {
	background-size: 300%;
	-webkit-animation: button-text-animation 1s ease infinite alternate;
	-moz-animation: button-text-animation 1s ease infinite alternate;
	animation: button-text-animation 1s ease infinite alternate;
}

@keyframes button-text-animation {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
