@import "./scss/vars";
@import "./scss/root";
@import "./scss/utils";

@import "./scss/loader";

@import "./scss/nav";
@import "./scss/layout";

@import "./scss/index";
@import "./scss/hero";
@import "./scss/project";
@import "./scss/contact";

::-webkit-scrollbar-thumb {
  background-color: #5f5f5f;
}

::-webkit-scrollbar {
  background-color: #363636;
  width: 8px;
  height: 8px;
}

::selection {
  background-color: var(--primary);
  color: var(--bg-color);
}
