@import url("https://fonts.googleapis.com/css2?family=PT+Serif:wght@400;700&display=swap");
@import "./scss/vars";

$font-family: "Poppins", serif !important;
$font-family-heading: "Righteous", sans-serif !important;
$line-height: 1.25;

.resume {
  & * {
    font-family: $font-family;
    line-height: $line-height;
    font-size: 0.9rem;
    margin: 0;
    padding: 0;
    color: inherit;
  }

  background-color: white;
  color: #333 !important;
  display: flex;
  flex-direction: column;
  width: 21cm;
  height: 29.7cm;
  margin: auto;
  border: 1px solid white;
  margin-bottom: $spacing-xl;

  h1 {
    font-size: $font-sm * 2;
    font-family: $font-family-heading;
  }
  h2 {
    font-size: $font-sm * 1.75;
  }
  h3 {
    font-size: $font-sm * 1.25;
  }
  h4 {
    font-size: $font-sm + 0.1rem;
  }

  h1,
  h2,
  h3 {
    font-weight: 700;
  }

  h2,
  h3,
  h4,
  p {
    margin-bottom: $spacing-sm !important;
  }

  li {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: max-content;
    margin-bottom: 0.25rem !important;

    svg {
      width: 1.25rem;
      height: 1.25rem;
      margin-right: $spacing-sm;
    }
  }
}

.resume__header {
  display: flex;
  padding: 2rem;
  justify-content: center;
  align-items: center;

  .portrait {
    min-width: 10rem;
    max-width: 10rem;
    min-height: 10rem;
    max-height: 10rem;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: $b-radius-lg;
    margin-right: 2rem;

    img {
      width: 100%;
      height: auto;
    }
  }
}

.contacts {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.9rem;

  ul {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: #f3f3f3;
    padding: 2rem;

    li {
      margin: 0.25rem 0;

      a {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        font-size: 1rem !important;
        line-height: 1.5 !important;

        svg {
          margin-right: 0.75rem;
          color: var(--primary);
        }
      }
    }
  }
}

.body {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: $spacing-md 2rem;
  gap: 2rem;

  .work,
  .certificates,
  .skills,
  .projects,
  .languages,
  .hobbies {
    margin-bottom: $spacing-md;
  }

  .work {
    ul,
    &__status {
      margin-bottom: $spacing-sm !important;
    }
    h4 {
      opacity: 0.9;
    }
    &__status {
      font-size: $font-sm * 0.9;
      display: flex;
      justify-content: space-between;
      opacity: 0.7;
    }
  }

  .skills {
    ul {
      display: flex;
      flex-wrap: wrap;
      color: white;

      li {
        font-size: 0.7rem !important;
        background-color: var(--primary);
        padding: 0.25rem $spacing-sm;
        border-radius: $spacing-sm;
        margin: 0.1rem;
      }
    }
  }

  .education {
    h3 {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin: 0 !important;
    }
  }

  .certificates {
    li {
      display: block !important;
    }
  }

  .hobbies {
    ul {
      display: grid;
      grid-template-columns: 1fr 1fr;
    }
    li {
      margin: 0.25rem 0 !important;
    }
  }

  .projects,
  .languages,
  .work,
  .certificates {
    li {
      display: flex;
      justify-content: flex-start;
      align-items: flex-start;
    }
    li::before {
      content: "⁕";
      margin-right: $spacing-sm;
    }
  }
}

.resume__utils {
  width: 100%;
  padding: $spacing-lg $spacing-xl;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .print__resume {
    margin-left: auto;
  }

  button {
    padding: $spacing-sm $spacing-md;
    background: var(--hover-bg);
    border: none;
    border-radius: $b-radius-md;
    cursor: pointer;
    position: relative;

    &:hover {
      opacity: 0.9;
    }
    &:focus-visible {
      outline: 1px solid var(--hover-bg);
    }
  }
}

@page {
  size: A4;
  margin: 0;
}

* {
  -webkit-print-color-adjust: exact !important;
  color-adjust: exact !important;
}

@media (max-width: ($width-md + 2rem)) {
  .resume {
    width: 100%;
    height: 100%;

    &__header {
      flex-direction: column;
      align-items: flex-start;

      .portrait {
        margin-bottom: $spacing-sm;
      }
    }
    .contacts ul {
      grid-template-columns: 1fr;
      margin: auto !important;
    }

    .body {
      grid-template-columns: 1fr;
    }
  }
}

@media print {
  html,
  body {
    width: 210mm;
    height: 297mm;
  }
  .resume {
    width: 100%;
    height: 100%;
  }
  .resume__header {
    flex-direction: row;
    align-items: flex-start;
  }
  .resume__header .portrait {
    margin-bottom: 0;
  }
  .resume .contacts ul {
    margin: 0;
  }
  .resume .body,
  .resume .contacts ul {
    grid-template-columns: 1fr 1fr;
  }
}
